<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">Lucid Portal</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/comment-create']">Create Comment</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" [routerLink]="['/comment-list']">View All Comments</a>
        </li>
      </ul>
    </div>
</nav>
